{% extends "warden/warden_layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" style="padding-top: 20px;">
        <div class="col-9 col-md-9 col-lg-9">
            <h2 class="text-center">How much an IRA could save you?</h2>
            <div class="p-4 swan-input-line" style="background-color: #BAC7D5;">
                <div class="text-center">
                    <p>
                        I'm
                        <input
                            type="text"
                            value="35"
                            class="ira-input"
                            id="age"
                        >
                        years old,

                        .
                        <br>
                        and my current IRA balance
                        is $
                        <input
                            type="text"
                            value="100,000"
                            class="ira-input"
                            id="savings"
                        >
                        .
                        <br>
                        I plan to contribute $
                        <input
                            type="text"
                            value="6,500"
                            class="ira-input"
                            id="annualContribution"
                        >
                        annually.
                    </p>
                    <label for="allocation-slider" class="mr-2">My expected allocation to Bitcoin is:</label>
                    <br>
                    <input
                        type="range"
                        min="0"
                        max="100"
                        value="20"
                        class="slider"
                        id="allocation-slider"
                    >
                    <span class="ml-2" id="allocation-value">20%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 40px;">
        <div class="col-5 col-md-5 col-lg-5 text-center">
            <div class="text-center">
                <div class="dashboard-numbers-highlight">
                    <span id="bitcoin-balance">Loading...</span>
                </div>
                <hr class="field-description">
                <small class="dashboard-label">
                    Your Bitcoin allocation could save you this much at retirement
                </small>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 0px;">
        <div class="col-10 col-md-10 col-lg-10 text-center">
            <div id="chart-container" height="200px"></div>
            <span class="text-center text-strong text-success" style="padding-top: 40px;">
                Roll your IRA and SAVE
            </span>
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-warning" type="button">Get Started</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 20px;" id="assumptions">
        <div class="col-10 col-md-10 col-lg-10 text-center">
            <small>
                This assumes a single-status individual with annual income of $100,000, retiring at age 67. Resulting in an effective tax rate of
                <span id="effectiveTaxRate">...</span>
                %
                . It also assumes a bitcoin price of
                <span id="btc_price">...</span>
                with annual returns of 15% and a 7% annual return on your IRA. You can customize these in our advanced calculator.
                <hr>
                Past returns are not indicative of future returns. This is not a recommendation to buy or sell any security. Indicative terms and conditions. This is not tax advice. Please consult a tax professional.
            </small>
        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="{{url_for('static', filename='orangenomics/js/ira_client_basic.js')}}"></script>
{% endblock content %}
